@inherits LayoutComponentBase

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <nav class="col-md-3 col-lg-2 d-md-block sidebar text-white"
             style="background: linear-gradient(180deg, #1e3a5f 0%, #2c7edb 100%);">
            <div class="position-sticky">
                <NavMenu/>
            </div>
        </nav>

        <!-- Main Content -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Golf Club Manager</a>
                    <div class="d-flex">
                        <a class="btn btn-outline-primary me-2" href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
                    </div>
                </div>
            </nav>

            <div class="content py-4">
                @Body
            </div>
        </main>
    </div>
</div>
